{% extends "base.html" %}
{% load tailwind_filters %}

{% block content %}
<section class="py-12 xl:py-24">
  <div>
    <h1 class="block sm:text-3xl text-2xl font-extrabold mb-1 mt-5 text-center text-black dark:text-white">Change your account password</h1>
    <br/><hr/>
  </div>

  <div class="block max-w-lg mx-auto align-center mt-12 pt-6 bg-[#FFD5CD] border border-gray-200 rounded-lg shadow dark:bg-[#474E68] dark:border-gray-800">
    <form method="post">
      {% csrf_token %}
      <div class="px-2">
        <label for="old_password" class="flex text-xl text-bold justify-center text-black dark:text-white">Old password</label>
        {{ form.old_password|as_crispy_field }}
        <label for="new_password1" class="flex text-xl text-bold justify-center text-black dark:text-white">New password</label>
        {{ form.new_password1|as_crispy_field }}
        <label for="new_password2" class="flex text-xl text-bold justify-center text-black dark:text-white">Confirm new password</label>
        {{ form.new_password2|as_crispy_field }}
      </div>

      <p class="flex justify-center">
        <button type="submit" class="relative inline-flex items-center justify-center p-0.5 mt-4 overflow-hidden text-xl text-bold font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-red-200 via-red-300 to-yellow-200 group-hover:from-red-200 group-hover:via-red-300 group-hover:to-yellow-200 dark:bg-gradient-to-br dark:from-green-400 dark:to-blue-600 dark:group-hover:from-green-400 dark:group-hover:to-blue-600 dark:hover:text-white hover:text-black dark:text-white focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800">
          <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-[#FCF1F1] dark:bg-[#404258] rounded-md group-hover:bg-opacity-0">
              Submit
          </span>
        </button>
      </p>

      <br/>
    </form>

    <div class="flex justify-evenly border-t border-gray-200 mt-2 mb-4 px-4">
      <a class="hover:text-blue-500 mt-3" href="{% url 'password-reset'%}">Forgot password?</a>
    </div>

  </div>
</section>

{% endblock content %}
