{% extends "base.html" %}
{% load tailwind_filters %}

{% block content %}
  <h1 class="sm:text-3xl text-2xl font-extrabold mb-1 mt-5 text-center text-black dark:text-white border-b-2 border-gray-200 dark:border-green-200">Change the category for '{{ lead.first_name }} {{ lead.last_name }}' lead</h1>
  <br/>

  <div class="flex justify-center text-center mt-10 px-2">
    <form method="post" enctype="multipart/form-data" autocomplete="off">
      {% csrf_token %}
      <div class="grid grid-cols-4 gap-4 flex justify-center w-full px-2 bg-gray-200 border border-gray-200 rounded-lg shadow dark:bg-[#474E68] dark:border-gray-800">
        <div class="col-start-1 col-end-3">
          <label for="category" class="text-black dark:text-white">Select category</label>
          {{ form.category|as_crispy_field }}
        </div>

        <p class="col-start-3 col-end-5 mt-4">
        <!--<button type="submit" class="mt-5 text-white bg-green-500 border-0 py-2 px-8 focus:outline-none hover:bg-cyan-500 hover:text-black rounded text-lg">Submit</button> -->
        <button type="submit" class="relative inline-flex items-center justify-center p-0.5 mb-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-green-400 to-blue-600 group-hover:from-green-400 group-hover:to-blue-600 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800">
          <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-gray-200 dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
              Submit
          </span>
        </button>
      </p>
      </div>
      <br/>
    </form>
  </div>
{% endblock content %}