{% extends "base.html" %}
{% load tailwind_filters %}

{% block content %}
  <h1 class="sm:text-3xl text-2xl font-extrabold mb-1 mt-5 text-center text-black dark:text-white border-b-2 border-gray-200 dark:border-green-200">Create a new agent</h1>
  <br/>

  <div class="flex justify-center text-center mt-10 px-2">
    <form method="post" enctype="multipart/form-data" autocomplete="off">
      {% csrf_token %}
      <div class="grid grid-cols-4 gap-4 w-full py-4 bg-gray-200 border border-gray-200 rounded-lg shadow dark:bg-[#474E68] dark:border-gray-800">
        <div class="col-span-4 px-2">
          <label for="id_username" class="text-black dark:text-white">Username</label>
          {{ form.username|as_crispy_field }}
        </div>
        <div class="col-span-2 px-2">
          <label for="id_firstname" class="text-black dark:text-white">First name</label>
          {{ form.first_name|as_crispy_field }}
        </div>
        <div class="col-span-2 px-2">
          <label for="id_lastname" class="text-black dark:text-white">Last name</label>
          {{ form.last_name|as_crispy_field }}
        </div>
        <div class="col-span-4 px-2">
          <label for="id_email" class="text-black dark:text-white">Email</label>
          {{ form.email|as_crispy_field }}
        </div>
        <div class="col-span-2 px-2">
          <label for="id_phonenumber" class="text-black dark:text-white">Phone number</label>
          {{ form.phone_number|as_crispy_field }}
        </div>
        <div class="col-span-2 px-2">
          <label for="id_position" class="text-black dark:text-white">Position</label>
          {{ form.position|as_crispy_field }}
        </div>
        <div class="col-start-2 col-end-4 px-4">
          <label for="id_photo" class="text-black dark:text-white">Profile photo</label>
          {{ form.photo|as_crispy_field }}
        </div>

        <p class="col-start-2 col-end-4">
          <button type="submit" class="relative inline-flex items-center justify-center p-0.5 mt-4 overflow-hidden text-xl text-bold font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-red-200 via-red-300 to-yellow-200 group-hover:from-red-200 group-hover:via-red-300 group-hover:to-yellow-200 dark:bg-gradient-to-br dark:from-green-400 dark:to-blue-600 dark:group-hover:from-green-400 dark:group-hover:to-blue-600 dark:hover:text-white hover:text-black dark:text-white focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800">
            <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-gray-200 dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                Create
            </span>
          </button>
        </p>
      </div>
      <br/>
    </form>
  </div>
{% endblock content %}
