{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="py-12 h-full bg-[#FCF1F1] dark:bg-[#474E68] px-2">
  <div class="flex justify-center">
    <p class="text-5xl text-extrabold mr-5 text-black dark:text-white">Documents</p>
  </div>

  <div class="flex mx-auto mb-2">
    {% if request.user.is_organisor %}
      <a  href="{% url 'leads:document-upload' %}"><button type="button" class="inline-block px-6 pt-2 pb-2 bg-blue-300 text-black font-medium text-xs leading-normal uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-400 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-400 active:shadow-lg hover:bg-yellow-200 transition duration-150 ease-in-out flex align-center">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 mr-2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 14.25v-2.625a3.375 3.375 0 00-3.375-3.375h-1.5A1.125 1.125 0 0113.5 7.125v-1.5a3.375 3.375 0 00-3.375-3.375H8.25m3.75 9v6m3-3H9m1.5-12H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 00-9-9z" />
        </svg>
          Upload a new Document
      </button></a>
    {% endif %}
  </div>
  <hr/>

  <div class="flex grid grid-rows-4 grid-flow-col gap-4 py-6">
    <div class="row-span-2">
      <div class="xl:w-84">
          <form method="GET" action="{% url 'leads:document-list' %}" id='searchForm' class="text-center">
            <div class="grid grid-cols-4 py-4 gap-4 w-full bg-gray-200 border border-gray-200 rounded-lg shadow dark:bg-[#474E68] dark:border-gray-800">
              <div class="col-start-2 col-end-4 px-2">
                <label for="id_lead" class="text-black dark:text-white">Title, lead or filename contains</label>
                {{ form.title|as_crispy_field }}
              </div>

              <div class="col-start-2 col-end-4 px-2">
                <label for="id_date_added" class="text-black dark:text-white">Date added</label>
                {{ form.date_added|as_crispy_field }}
              </div>

              <div class="col-span-2 px-2">
                <label for="id_is_secret" class="text-black dark:text-white">Is secret</label>
                {{ form.is_secret|as_crispy_field }}
              </div>

              <p class="col-span-2 px-2">
                <input class="mt-3 rounded border-2 border-white px-6 py-2 text-xs font-medium uppercase dark:text-gray-200 transition duration-150 ease-in-out hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0" 
                type="submit" value="search" data-te-ripple-init>
              </p>
            </div>
          </form>
      </div>
    </div>



    <div class="flex justify-center row-span-4 col-span-4 mt-10">
      <ul role="list" class="p-6 divide-y divide-slate-200 mt-4">
        {% for document in documents %}
        <li class="flex py-4 first:pt-0 last:pb-0">
          <div class="ml-3 overflow-hidden">
            <p class="text-sm font-medium text-slate-900">
              <a href="{% url 'leads:document-detail' document.pk %}">
                <h3 class="text-2xl font-medium test-black dark:text-white">{{ document.title }}</h3>
              </a>
            </p>
            <p class="text-sm test-black dark:text-white truncate"><a href="{% url 'leads:lead-detail' document.lead.id %}">{{ document.lead }}</a> | {{ document.date_added }}</p>
          </div>
        </li>
        {% endfor %}
      <div class="flex justify-center pt-5">
        {% if is_paginated %}
          <nav aria-label="Page navigation example" onchange="location = finalurl();">
            <ul class="flex list-style-none">
              {% if page_obj.has_previous %}
                <li class="page-item relative block py-1.5 px-3 rounded border-0 bg-transparent outline-none transition-all duration-300 rounded text-gray-800 dark:text-gray-200 hover:text-gray-800 hover:bg-gray-200 focus:shadow-none">
                <a
                  data-page="{{page_obj.previous_page_number}}"
                  class="page-link"
                  href="{% url 'leads:document-list' %}?page={{ page_obj.previous_page_number }}">Previous</a></li>
              {% else %}
                <li class="page-item disabled  relative block py-1.5 px-3 rounded border-0 bg-transparent outline-none transition-all duration-300 rounded text-gray-500 dark:text-gray-200 pointer-events-none focus:shadow-none"><a
                  class="page-link"
                  href="#" tabindex="-1" aria-disabled="true">Previous</a></li>
              {% endif %}
              {% for page_num in paginator.page_range %}
                {% if page_num == page_obj.number %}
                <li class="page-item relative block py-1.5 px-3 border-2 border-color-cyan-900 bg-transparent outline-none transition-all duration-300 rounded text-blue-600 hover:bg-gray-200 focus:shadow-none">
                  <a
                    data-page="{{page_num}}"
                    class="page-link"
                    href="{% url 'leads:document-list' %}?page={{ page_num }}">{{ page_num }}</a>
                </li>
                {% else %}
                <li class="page-item relative block py-1.5 px-3 rounded border-0 bg-transparent outline-none transition-all duration-300 rounded text-gray-800 hover:text-gray-800 dark:text-gray-200 hover:bg-gray-200 focus:shadow-none">
                  <a
                    data-page="{{page_num}}"
                    class="page-link"
                    href="{% url 'leads:document-list' %}?page={{ page_num }}">{{ page_num }}</a>
                </li>
                {% endif %}
              {% endfor %}
              {% if page_obj.has_next %}
              <li class="page-item relative block py-1.5 px-3 rounded border-0 bg-transparent outline-none transition-all duration-300 rounded text-gray-800 hover:text-gray-800 dark:text-gray-200 hover:bg-gray-200 focus:shadow-none"><a
                  data-page="{{page_obj.next_page_number}}"
                  class="page-link"
                  href="{% url 'leads:document-list' %}?page={{ page_obj.next_page_number }}">Next</a></li>
              {% else %}
              <li class="page-item disabled relative block py-1.5 px-3 rounded border-0 bg-transparent outline-none transition-all duration-300 rounded text-gray-500 dark:text-gray-200 pointer-events-none focus:shadow-none"><a
                class="page-link"
                href="#" tabindex="-1" aria-disabled="true">Next</a></li>
              {% endif %}
            </ul>
          </nav>
          {% endif %}
        </div>
    </div>
  </div>
  
</div>
    
{% endblock content %}


{% block js %}
<script type="text/javascript">
	let searchForm = document.getElementById('searchForm')
	let pageLinks = document.getElementsByClassName('page-link')

	for(var i=0; pageLinks.length > i; i++){

		pageLinks[i].addEventListener('click', function(e){
			e.preventDefault()
			let page = this.dataset.page
			console.log('Page:', page)
			searchForm.innerHTML += `<input value="${page}" name="page" hidden >`
			searchForm.submit()
		})

	}
</script>
{% endblock js %}