{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="py-12 h-full bg-[#FCF1F1] dark:bg-[#474E68] px-2">
        <div class="flex justify-center">
            <p class="text-5xl text-extrabold mr-5 text-black dark:text-white">{{ document.title }}</p>
        </div>

        <div class="flex space-x-2 justify-left border-b-2 border-gray-200 dark:border-green-200 pb-4">
            <div>
                <a  href="{% url 'leads:document-list' %}"><button type="button" class="inline-block px-6 pt-2 pb-2 bg-yellow-200 text-black font-medium text-xs leading-normal uppercase rounded shadow-md hover:bg-blue-300 hover:shadow-lg focus:bg-blue-300 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-300 active:shadow-lg transition duration-150 ease-in-out flex align-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-3 pb-1">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
                    </svg>
                    Back to documents
                </button></a>
            </div>
        </div>

        <div class="flex mx-auto justify-center">
            <div class="sm:w-2/3 sm:pl-8 sm:py-8 mt-4 pt-4 sm:mt-0 text-center sm:text-left">
                <p class="mr-4 leading-relaxed text-lg font-medium mb-2">
                    <div class="sm:w-2/3 sm:pl-8 ml-2">
                        <p><em>Description</em>: {{ document.description }}</p><br/>
                        <p><em>Secret</em>: {{ document.is_secret }}</p><br/>
                        <a href="{{ document.file.url }}" download>
                            <button class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-teal-300 to-lime-300 group-hover:from-teal-300 group-hover:to-lime-300 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-lime-800">
                                <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                                    Download
                                </span>
                            </button>
                        </a>
                    </div>
                </p>
                <p class="flex justify-end mr-4 sm:w-5/6 leading-relaxed text-lg font-medium mb-2">
                    <a href="{% url 'leads:document-update' document.pk %}">
                        <button class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800">
                            <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                                Update
                            </span>
                        </button>
                    </a>
                    <a href="{% url 'leads:document-delete' document.pk %}">
                        <button class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800">
                            <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                                Delete
                            </span>
                        </button>
                    </a>
                </p>

            </div>
        </div>
    </div>

{% endblock content %}