{% load static %}

<header>
  <nav class="px-2 items-center bg-[#1A1C20] border-gray-200 dark:bg-gray-900 dark:border-gray-700">
    <div class="container flex flex-wrap items-center grid grid-cols-7 sm:flex sm:items-center sm:justify-between mx-auto">
      <!-- Left side elements -->
      <div class="col-span-2">
        <a href="{% url 'landing-page' %}" class="flex items-center">
            <img src="{% static 'images\logo.png' %}" class="h-6 mr-3 sm:h-10 rounded-full" alt="logo" />
            <span class="self-center text-xl font-semibold whitespace-nowrap text-white">Ingot CRM</span>
        </a>
        <button data-collapse-toggle="navbar-dropdown" type="button" class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-dropdown" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
        </button>
      </div>

      <div class="col-span-4 hidden w-full md:block md:w-auto" id="navbar-dropdown">
        <ul class="flex flex-col items-center p-4 mt-4 border border-gray-100 rounded-lg bg-transparent-100 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-transparent-100 dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
          
          <!-- Center side elements -->
            {% if request.user.is_authenticated %}
              <li>
                {% if request.user.is_organisor %}
                  <a href="{% url 'agents:agent-list' %}" class="block py-2 pl-3 pr-4 text-gray-200 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent" aria-current="page">Agents</a>
                {% else %}
                  <a href="{% url 'agents:agent-profile' request.user.id %}" class="block py-2 pl-3 pr-4 text-gray-200 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent" aria-current="page">Profile</a>
                {% endif %}
                </li>
              <li>
                <button data-dropdown-toggle="dropdownLeads" id="dropdownLeadsButton" data-dropdown-toggle="dropdown" class="block py-2 pl-3 pr-4 text-gray-200 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent inline-flex" type="button">
                  Leads
                  <svg class="w-4 h-4 ml-2" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>
                </button>
                <div id="dropdownLeads" class="z-10 hidden hover:backdrop-blur-lg bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                  <ul class="py-2 text-sm text-gray-800 dark:text-gray-200" aria-labelledby="dropdownLeadsButton">
                    <li>
                      <a href="{% url 'leads:lead-list' %}" class="block px-4 bg-transparent-100 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Leads</a>
                    </li>
                    <li>
                      <a href="{% url 'leads:category-list' %}" class="block px-4 bg-transparent-100 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Categories</a>
                    </li>
                    <li>
                      <a href="{% url 'leads:document-list' %}" class="block px-4 bg-transparent-100 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Documents</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li>
                <a href="{% url 'change_password' %}" class="block py-2 pl-3 pr-4 text-gray-200 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent" aria-current="page">Change password</a>
              </li>
              <li>
                <a href="{% url 'landing-page' %}" class="block py-2 pl-3 pr-4 text-gray-200 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Home</a>
              </li>
              <li>
                <a href="{% url 'about-page' %}" class="block py-2 pl-3 pr-4 text-gray-200 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">About</a>
              </li>
              <li>
                <a href="{% url 'pricing-page' %}" class="block py-2 pl-3 pr-4 text-gray-200 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Pricing</a>
              </li> 
              <li>
                <a href="{% url 'logout' %}" class="block py-2 pl-3 pr-4 text-gray-200 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Sign out</a>
              </li>
            {% else %}
              <li>
                <a href="{% url 'landing-page' %}" class="block py-2 pl-3 pr-4 text-gray-200 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Home</a>
              </li>
              <li>
                <a href="{% url 'about-page' %}" class="block py-2 pl-3 pr-4 text-gray-200 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">About</a>
              </li>
              <li>
                <a href="{% url 'pricing-page' %}" class="block py-2 pl-3 pr-4 text-gray-200 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Pricing</a>
              </li>
              <li>
                <a href="{% url 'login' %}" class="block py-2 pl-3 pr-4 text-gray-200 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Sign in</a>
              </li>
              <li>
                <a href="{% url 'register' %}" class="block py-2 pl-3 pr-4 text-gray-200 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-green-200 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Register</a>
              </li>
            {% endif %}
        </ul>
      </div>
      <!-- Right side elements -->
          
    </div>
  </nav>
</header>

<script>
  // For the language code
  const dropdownMenu = document.getElementById('language-dropdown-menu');
  const dropdownButton = document.querySelector('[data-dropdown-toggle="language-dropdown-menu"]');
  dropdownButton.addEventListener('click', () => {
    dropdownMenu.classList.toggle('hidden');
  });
  // Add this event listener to close the dropdown menu if the user clicks anywhere outside of it
  window.addEventListener('click', (event) => {
    if (!dropdownButton.contains(event.target) && !dropdownMenu.contains(event.target)) {
      dropdownMenu.classList.add('hidden');
    }
  });
  // Add this CSS style to position the dropdown menu above the button and on top of other elements
  dropdownMenu.style.position = 'fixed';
  dropdownMenu.style.top = `${dropdownButton.offsetTop - dropdownButton.offsetHeight}px`;

  const dropdownLeadsMenu = document.getElementById('leads-dropdown-menu');
  const dropdownLeadsButton = document.querySelector('[data-dropdown-toggle="leads-dropdown-menu"]');
  dropdownLeadsButton.addEventListener('click', () => {
    dropdownLeadsMenu.classList.toggle('hidden');
  });
  // Add this event listener to close the dropdown menu if the user clicks anywhere outside of it
  window.addEventListener('click', (event) => {
    if (!dropdownLeadsButton.contains(event.target) && !dropdownLeadsMenu.contains(event.target)) {
      dropdownLeadsMenu.classList.add('hidden');
    }
  });
  // Add this CSS style to position the dropdown menu above the button and on top of other elements
  dropdownLeadsMenu.style.position = 'fixed';
  dropdownLeadsMenu.style.top = `${dropdownLeadsButton.offsetTop - dropdownButton.offsetHeight}px`;
</script>