{% extends "base.html" %}
{% load tailwind_filters %}

{% block content %}

  <h1 class="sm:text-3xl text-2xl font-extrabold mb-1 mt-5 text-center text-black dark:text-white border-b-2 border-gray-200 dark:border-green-200">Upload a new document</h1><br/>

  <div class="flex justify-center text-black text-center">
    <form action="{% url 'leads:document-upload' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="grid grid-cols-4 gap-4 w-full bg-gray-200 border border-gray-200 rounded-lg shadow dark:bg-[#474E68] dark:border-gray-800">
        <div class="col-span-4 px-16 py-2">
          <label for="lead" class="text-black dark:text-white">Lead</label>
          {{ form.lead|as_crispy_field }}
        </div>
        <div class="col-span-4 px-16 py-2">
          <label for="title" class="text-black dark:text-white">Title</label>
          {{ form.title|as_crispy_field }}
        </div>
        <div class="col-span-4 p-2">
          <label for="description" class="text-black dark:text-white">Description</label>
          {{ form.description|as_crispy_field }}
        </div>
        <div class="col-span-2 p-2">
          <label for="is_secret" class="text-black dark:text-white">Is secret</label>
          {{ form.is_secret|as_crispy_field }}
        </div>
        <div class="col-span-2 p-2">
          <label for="file" class="text-black dark:text-white">File</label>
          {{ form.file|as_crispy_field }}
        </div>

        <p class="col-start-2 col-end-4 px-2 pb-4">
          <button type="submit" value="Upload" class="relative inline-flex items-center justify-center p-0.5 mt-4 overflow-hidden text-xl text-bold font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-red-200 via-red-300 to-yellow-200 group-hover:from-red-200 group-hover:via-red-300 group-hover:to-yellow-200 dark:bg-gradient-to-br dark:from-green-400 dark:to-blue-600 dark:group-hover:from-green-400 dark:group-hover:to-blue-600 dark:hover:text-white hover:text-black dark:text-white focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800">
            <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                Submit
            </span>
          </button>
        </p>
      </div>
      <br/>
    </form>
  </div>
{% endblock content %}
